.stock__header__group {
 padding-left: 12px;
}
.bullish {
  border-left: 10px solid rgb(39, 211, 39);
}


.bearish {
  border-left: 10px solid red;
}

.stock__jumbo {
	background-color: #fff !important;
}