.about {
  border-bottom: rgb(227, 233, 237) solid 1px;
}

.graph {
  /* background-color: #242424; */
  min-height: 500px;
}

.stock-card {
  border: 0 !important;
}

.wrapper {
	justify-content: center;
	height: 100vh !important;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}